.carousel.carousel1 .carousel-indicators,
.carousel.carousel3 .carousel-indicators {
    position: inherit;
    right: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p.author-name,
p.autor span {
    font-family: Roboto, sans-serif
}

ol,
ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    color: #858585;
    font-size: 14px;
    line-height: 24px
}

ol li,
ul li {
    font-size: 14px;
    line-height: 28px
}

ul li i {
    vertical-align: middle
}

ul.features-list-dark {
    display: inline-block
}

ul.features-list-dark li {
    float: left;
    font-size: 16px;
    line-height: 28px;
    margin: 1px 0
}

.features-list,
p,
ul.features-list li {
    font-size: 16px;
    line-height: 26px;
    color: #858585
}

.features-list,
ul.features-list li {
    float: left;
    margin: 12px 0
}

.features-list img,
ul.features-list li img {
    max-width: 55px;
    margin-right: 20px;
    float: left
}

p {
    font-weight: 400;
    margin-bottom: 15px
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0!important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #454545
}

h2.section-title,
h3.medium-title {
    font-weight: 300;
    text-transform: uppercase
}

h1 {
    font-size: 42px
}

h2 {
    font-size: 34px
}

h3 {
    font-size: 28px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 18px
}

h2.section-title {
    font-size: 36px;
    margin: 0 0 15px
}

.separator_wrapper::after,
.separator_wrapper::before,
.separator_wrapper_white::after,
.separator_wrapper_white::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 60px;
    height: 1px;
    margin-top: -6px
}

h2.section-title.grey {
    color: #ddd
}

p.section-subtitle {
    font-size: 17px
}

p.section-subtitle.grey {
    color: #bbb
}

.separator_wrapper,
.separator_wrapper_white {
    margin-bottom: 10px
}

.separator_wrapper::after,
.separator_wrapper::before {
    background-color: #34b1c4
}

.separator_wrapper_white::after,
.separator_wrapper_white::before {
    background-color: #ddd
}

h3.medium-title {
    font-size: 31px;
    margin-top: 0
}

.carousel.carousel1 .item .lead,
.carousel.carousel3 .item .lead {
    font-size: 20px
}

iframe {
    max-width: 100%;
    border: none
}

.width-100 {
    width: 100%
}

.medium {
    font-weight: 400
}

.bold {
    font-weight: 700
}

.lyla {
    color: #9E5FBA
}

.green {
    color: #16A085
}

.blue {
    color: #3498db
}

.red {
    color: #34b1c4
}

.grey {
    color: #ddd
}

.white {
    color: #fff
}

.section-white {
    background-color: #fff;
    padding: 90px 0
}

.section-grey {
    background-color: #F5F5F5;
    padding: 90px 0
}

.section-grey.small-padding,
.section-white.small-padding {
    padding: 40px 0
}

.section-dark.medium-padding,
.section-grey.medium-padding,
.section-white.medium-padding {
    padding: 60px 0
}

.section-blue.no-padding-bottom,
.section-dark.no-padding-bottom,
.section-grey.no-padding-bottom,
.section-white.no-padding-bottom {
    padding: 90px 0 0
}

.section-blue.small-padding-bottom,
.section-dark.small-padding-bottom,
.section-grey.small-padding-bottom,
.section-white.small-padding-bottom {
    padding: 90px 0 60px
}

.section-blue.no-padding,
.section-dark.no-padding,
.section-grey.no-padding,
.section-white.no-padding {
    padding: 0
}

.section-white.about-padding {
    padding: 85px 0 100px
}

.section-dark.portfolio-padding {
    padding: 60px 0 75px
}

.section-dark {
    background-color: #393f43;
    padding: 90px 0
}

.section-blue {
    background-color: #34b1c4;
    padding: 90px 0
}

.margin-right-25 {
    margin-right: 25px!important
}

.margin-top-110 {
    margin-top: 110px!important
}

.margin-top-100 {
    margin-top: 100px!important
}

.margin-top-90 {
    margin-top: 90px!important
}

.margin-top-80 {
    margin-top: 80px!important
}
.MarginTop-180 {
    margin-top: 180px;
}

.margin-top-60 {
    margin-top: 60px!important
}

.margin-top-50 {
    margin-top: 50px!important
}

.margin-top-40 {
    margin-top: 40px!important
}

.margin-top-35 {
    margin-top: 35px!important
}

.margin-top-30 {
    margin-top: 30px!important
}

.margin-top-20 {
    margin-top: 20px!important
}

.margin-top-25 {
    margin-top: 25px!important
}

.margin-top-10 {
    margin-top: 10px!important
}

.margin-top-5 {
    margin-top: 5px!important
}

.margin-bottom-0 {
    margin-bottom: 0!important
}

.margin-bottom-10 {
    margin-bottom: 10px!important
}

.margin-bottom-20 {
    margin-bottom: 20px!important
}

.margin-bottom-30 {
    margin-bottom: 30px!important
}

.margin-bottom-40 {
    margin-bottom: 40px!important
}

.margin-bottom-50 {
    margin-bottom: 50px!important
}

.margin-bottom-60 {
    margin-bottom: 60px!important
}

.margin-bottom-70 {
    margin-bottom: 70px!important
}

.margin-bottom-80 {
    margin-bottom: 80px!important
}

.margin-bottom-100 {
    margin-bottom: 100px!important
}

.margin-bottom-120,
.margin-bottom-130 {
    margin-bottom: 120px!important
}

.margin-bottom-140 {
    margin-bottom: 140px!important
}

.padding-top-0 {
    padding-top: 0!important
}

.padding-top-20 {
    padding-top: 20px!important
}

.padding-top-25 {
    padding-top: 25px!important
}

.padding-top-30 {
    padding-top: 30px!important
}

.padding-top-40 {
    padding-top: 40px!important
}

.padding-top-45 {
    padding-top: 45px!important
}

.padding-top-50 {
    padding-top: 50px!important
}

.padding-top-60 {
    padding-top: 60px!important
}

.padding-top-70 {
    padding-top: 70px!important
}

.padding-top-80 {
    padding-top: 80px!important
}

.padding-top-100 {
    padding-top: 180px!important
}

.padding-bottom-60 {
    padding-bottom: 60px!important
}

.padding-bottom-70 {
    padding-bottom: 70px!important
}

.padding-bottom-0 {
    padding-bottom: 0!important
}

.margin-top-0 {
    margin-top: 0!important
}

.carousel.carousel1 .carousel-indicators li {
    background-color: #f9f9f9;
    width: 16px;
    height: 16px
}

.carousel.carousel1 .carousel-indicators li.active {
    background-color: #34b1c4
}

.carousel.carousel3 .carousel-indicators li {
    background-color: #f9f9f9;
    width: 16px;
    height: 16px
}

.carousel.carousel3 .carousel-indicators li.active {
    background-color: #34b1c4
}

.carousel.carousel-fade .item {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0
}

.carousel.carousel-fade .active.item {
    opacity: 1
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0)
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1
}

.carousel.carousel-fade .carousel-control {
    z-index: 3
}

.carousel-indicators {
    bottom: auto;
    left: auto;
    margin: 0;
    right: 16px;
    top: 16px;
    width: auto;
    line-height: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.carousel-indicators li {
    vertical-align: top;
    border: none;
    width: 8px;
    height: 8px;
    margin: 0 0 0 6px;
    background-color: #2c3e50;
    background-color: rgba(44, 62, 80, .5)
}

.carousel-indicators li.active {
    background-color: #fff;
    width: 8px;
    height: 8px;
    margin: 0 0 0 6px
}

.popup-wrapper {
    display: block;
    position: relative;
    overflow: hidden
}

.popup-gallery {
    display: inline-block;
    position: relative
}

.first-gallery {
    margin-bottom: 15px
}

.popup-gallery img {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto
}

.popup-gallery:hover img {
    opacity: .25
}

.popup-gallery a span.eye-wrapper,
.popup-gallery a span.eye-wrapper2 {
    background-color: #000;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
    height: 100%!important;
    top: 0;
    margin-top: 0;
    left: 0;
    right: 0;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    opacity: 0
}

.popup-gallery a span.eye-wrapper2 {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.popup-gallery a span.eye-wrapper i.eye-icon,
.popup-gallery a span.eye-wrapper2 i.eye-icon {
    position: absolute;
    display: inline-block;
    font-size: 38px;
    z-index: 3;
    top: 50%!important;
    margin-top: -19px!important;
    left: 0;
    right: 0
}

.popup-gallery a:hover span {
    opacity: 1
}

.popup-gallery a span,
.popup-gallery img {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.footer {
    z-index: 900;
    padding: 20px 0;
    font-weight: 300
}

.home-wrapper,
.team-section {
    z-index: 100;
    position: relative;
    overflow: hidden
}

.footer p {
    font-size: 18px;
    color: #696969
}

.footer p a {
    font-size: 16px;
    color: #696969;
    text-decoration: underline
}

ul.footer_social {
    width: 100%;
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center
}

ul.footer_social li {
    display: inline-block;
    margin: 0;
    line-height: 100%!important
}

ul.footer_social li a i {
    display: inline-block;
    margin: 0 8px;
    padding: 0;
    font-size: 22px!important;
    line-height: 26px!important;
    color: #2E3343;
    transition: all .5s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}


.shopify_wrapper {
    width: 100%;
    min-height: 823px;
    background: url(../images/banner-shopfiy.jpg) center center/cover no-repeat
}

h1.home-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase
}

p.home-subtitle {
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px
}

.service-item {
    margin: 20px 0
}

.service-inner {
    display: inline-block;
    padding: 10px 20px 40px;
    text-align: center;
    background-color: #eef0f1;
    border-bottom: 1px solid #e0e0e0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

.btn-services-blue,
.btn-services-green,
.btn-services-red {
    font-weight: 600;
    padding: 12px 25px
}

.service-item img,
.team-item img {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0
}

.service-inner h3 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #454545
}

.service-inner p {
    margin-bottom: 25px
}

.service-item img {
    border-radius: 5px 5px 0 0
}

.btn-services-blue {
    color: #fff;
    background-color: #34b1c4;
    border: 2px solid #34b1c4
}

.btn-services-blue:hover {
    color: #34b1c4;
    background-color: transparent;
    border-color: #34b1c4
}

.btn-services-red {
    color: #fff;
    background-color: #dd624e;
    border: 2px solid #dd624e
}

.btn-services-red:hover {
    color: #dd624e;
    background-color: transparent;
    border-color: #dd624e
}

.btn-services-green {
    color: #fff;
    background-color: #16A085;
    border: 2px solid #16A085
}

.btn-services-green:hover {
    color: #16A085;
    background-color: transparent;
    border-color: #16A085
}

.newsletter_wrapper {
    background: #34b1c4
}

.newsletter_box {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 0
}

.newsletter_info {
    padding: 1px 0 30px 60px;
    border-left: 1px solid #2d9cae
}

.newsletter_info h2 {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px
}

#newsletter-form #email_newsletter {
    width: 91%;
    max-width: 400px;
    height: 56px;
    line-height: 56px;
    padding: 0 4%;
    border: 1px solid #2a97a9;
    background-color: #33a4b6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 0 10px 0 0
}

#newsletter-form #submit-button-newsletter {
    width: 140px;
    height: 56px;
    background-color: #2a97a9;
    border: 1px solid #2a97a9;
    color: #fff;
    display: inline;
    margin: 0 5px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    vertical-align: top;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out
}

#newsletter-form #submit-button-newsletter:hover {
    background-color: #228798;
    border: 1px solid #228798;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out
}

.team-box h3,
h3.blog-title a {
    transition: all .25s ease-in-out
}

::-webkit-input-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

p.newsletter_success_box {
    font-size: 18px;
    color: #eee;
    font-style: italic;
    margin-bottom: 15px
}

.team-section {
    width: 100%;
    background-color: #393f43;
    padding: 90px 0 50px
}

.team-box {
    text-align: center;
    background-color: #fff;
    border-bottom: 3px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 1px 15px 15px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px
}

.team-item img {
    border-radius: 5px 5px 0 0
}

.team-box h3 {
    margin: 20px 0 1px!important;
    color: #454545;
    font-size: 18px;
    text-transform: uppercase;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

.team-popup .team-popup-overlay,
.team-popup .team-popup-overlay .team-icon a {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out
}

.team-item:hover h3 {
    color: #228798
}

.team-box p.team-info {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px
}

.team-popup {
    display: block;
    position: relative;
    overflow: hidden
}

.team-popup .team-popup-overlay {
    background-color: #000;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
    height: 100%!important;
    top: 0;
    margin-top: 0;
    left: 0;
    right: 0;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    opacity: 0;
    transition: all .25s ease-in-out;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.team-popup .team-popup-overlay .team-icon {
    position: absolute;
    display: inline-block;
    z-index: 3000;
    top: 50%!important;
    margin-top: -15px!important;
    left: 0;
    right: 0
}

.team-popup .team-popup-overlay .team-icon a {
    margin: 0 3px;
    color: #fff;
    font-size: 28px;
    transition: all .25s ease-in-out
}

.team-popup .team-popup-overlay .team-icon a:hover {
    color: #34b1c4;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.blog-item,
a.button-blog {
    transition: all .5s ease-in-out
}

.team-popup .team-popup-overlay:hover {
    opacity: .8!important
}

.blog-item {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

.blog-item img {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

.blog-item-inner {
    padding: 1px 25px 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5
}

.blog-item-inner p {
    margin: 15px 0 20px
}

h3.blog-title {
    margin-top: 15px;
    margin-bottom: 10px
}

h3.blog-title a {
    font-size: 21px;
    color: #454545;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

h3.blog-title a:hover {
    color: #228798;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

a.blog-icons {
    color: #858585;
    font-size: 14px;
    font-style: italic;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #aaa;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

a.blog-icons i {
    color: #656565;
    font-size: 16px;
    line-height: 16px;
    vertical-align: text-bottom
}

a.blog-icons.last {
    border-right: none
}

a.blog-icons:hover {
    color: #228798;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out
}

a.button-blog {
    background-color: #34b1c4;
    border: 1px solid #34b1c4;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

a.button-blog:hover {
    background-color: transparent;
    border: 1px solid #34b1c4;
    color: #34b1c4;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

.story .story-left,
.story .story-right {
    margin-bottom: 40px;
    border-bottom: 2px solid #e0e0e0
}

.story-block {
    display: block;
    position: relative;
    width: 90%;
    background: #fff;
    padding: 20px 25px 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.story .story-left .story-arrow,
.story .story-right .story-arrow {
    background: #fff;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-top: -10px;
    z-index: 50
}

.story-block:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .08)
}

.story .story-left {
    position: relative;
    border-right: 2px solid #e0e0e0
}

.story .story-left .story-arrow {
    border-right: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    display: block;
    right: -10px;
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: none\9
}

.story .story-right {
    position: relative;
    border-left: 2px solid #e0e0e0;
    float: right
}

.story .story-right .story-arrow {
    border-left: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: block;
    left: -10px;
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: none\9
}

.story .story-left:after,
.story .story-right:after {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #34b1c4;
    content: '';
    margin-top: -12px;
    top: 50%
}

.story .story-left:after {
    right: -86px;
    border-radius: 50%;
    border: 5px solid #fff
}

.story .story-right:after {
    left: -84px;
    border-radius: 50%;
    border: 5px solid #fff
}

.story .story-left {
    float: left
}


p.contact_success_box {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    border: 1px solid #fff;
    webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.section_features {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0 0;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.no-padding {
    padding: 0
}

.wrapper-inner {
    display: inline-block;
    width: 100%;
    max-width: 585px;
    padding: 40px 0 40px 35px
}

.portfolio-pic {
    margin-bottom: 30px
}

.testimonials-item {
    position: relative;
    z-index: 100;
    margin-bottom: 35px;
    padding-bottom: 0;
    width: 100%
}

.testimonials-box {
    background-color: #f7f7f7;
    padding: 15px 25px;
    position: relative;
    z-index: 100;
    border-left: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.testimonials-box .testimonials-arrow {
    background: #f7f7f7;
    border-right: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: block;
    width: 12px;
    height: 12px;
    left: 40px;
    bottom: -8px;
    position: absolute;
    z-index: 50;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: none\9
}

.testimonials-box p {
    margin: 0
}

img.autor-pic {
    float: left;
    margin: 15px 15px 0 12px;
    width: 76px;
    height: 76px;
    border: 3px solid #e0e0e0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

p.autor {
    display: block;
    font-weight: 400;
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    font-style: italic
}

.btn-blue,
.btn-margin,
.testimonials-info,
.wrapper {
    display: inline-block
}

p.autor span {
    text-transform: uppercase;
    color: #454545;
    font-weight: 500!important;
    font-style: normal;
    font-size: 16px;
    line-height: 28px
}

.btn,
btn:hover {
    transition: all .25s ease-in-out
}

.btn-margin {
    margin: 10px
}

.btn-white {
    color: #454545;
    background-color: #fff;
    border-color: #fff;
    font-weight: 700;
    letter-spacing: 1px
}

.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open .dropdown-toggle.btn-white {
    color: #fff;
    background-color: transparent;
    border-color: #fff
}

.btn-white-big {
    color: #8b62ba;
    background-color: #fff;
    border-color: #fff;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px
}

.btn-white-big.active,
.btn-white-big:active,
.btn-white-big:focus,
.btn-white-big:hover,
.btn-white-transparent,
.open .dropdown-toggle.btn-white-big {
    color: #fff;
    background-color: transparent;
    border-color: #fff
}

.btn-white-transparent {
    font-weight: 700;
    letter-spacing: 1px
}

.btn-white-transparent.active,
.btn-white-transparent:active,
.btn-white-transparent:focus,
.btn-white-transparent:hover,
.open .dropdown-toggle.btn-white-transparent {
    color: #454545;
    background-color: #fff;
    border-color: #fff
}

.btn-lyla {
    color: #fff;
    background-color: #9E5FBA;
    border-color: #9E5FBA
}

.btn-lyla.active,
.btn-lyla:active,
.btn-lyla:focus,
.btn-lyla:hover,
.open .dropdown-toggle.btn-white {
    color: #fff;
    background-color: #8c4ea7;
    border-color: #8c4ea7
}

.btn-lyla-transparent {
    color: #9E5FBA;
    background-color: transparent;
    border-color: #9E5FBA
}

.btn-lyla-transparent.active,
.btn-lyla-transparent:active,
.btn-lyla-transparent:focus,
.btn-lyla-transparent:hover,
.open .dropdown-toggle.btn-lyla-transparent {
    color: #fff;
    background-color: #9E5FBA;
    border-color: #9E5FBA
}

.btn-blue {
    padding: 18px 32px;
    background-color: #34b1c4;
    border-radius: 5px;
    position: relative;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}

.btn-blue.small {
    padding: 16px 28px
}

.btn-blue.xsmall {
    padding: 12px 25px;
    text-transform: none
}

.btn-blue.active,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:hover,
.open .dropdown-toggle.btn-blue {
    color: #fff;
    background-color: #2980b9
}

.partners-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px
}

.partners-item {
    padding: 60px 0;
    text-align: center;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

.partners-item.no-border-bottom {
    border-bottom: none
}

.partners-item.last {
    border-right: none
}

.partners-item img {
    opacity: .7;
    margin: 5px 25px;
    max-height: 50px;
    transition: all .25s ease-in-out
}

.partners-item img:hover {
    opacity: .5
}

.section-grey.sponsors-padding {
    padding: 50px 0
}

.sponsors img.sponsor {
    opacity: .4;
    margin: 10px 25px;
    max-height: 30px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.sponsors img.sponsor:hover {
    opacity: .8
}



.testimonials-wrapper {
    position: relative;
    max-width: 960px
}

.testimonials-info {
    padding: 10px 40px 10px 0;
    border-right: 1px solid #fff
}

.testimonials-info img {
    float: left;
    margin-right: 20px;
    width: 110px;
    height: 110px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

p.author-name {
    float: left;
    margin: 0;
    padding-top: 30px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase
}

p.author-name span,
p.testimonials-text {
    font-weight: 400;
    color: #fff;
    font-style: italic
}

p.author-name span {
    font-size: 18px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif
}

p.testimonials-text {
    font-size: 17px;
    line-height: 32px
}
.navbar-default .navbar-nav > li > a{color: #707070!important;}
#navbar-collapse-02 li.selected a {
    color: #34b1c4!important;
}

#navbar-collapse-02 .current a {
    color: #34b1c4!important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.navbar-fixed-top {
    background-color:#fff;
    transition: background-color 1s ease 0s
}

.navbar-fixed-top.opaque {
    background-color: #fff!important;
    transition: background-color 1s ease 0s
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.navbar-default .navbar-nav>li>a.purchase {
    position: relative;
    color: #707070;
    background-color: #34b1c4;
    border: 1px solid #34b1c4;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 14px;
    padding: 0 25px;
    font-weight: 600!important;
    letter-spacing: 1px;
    text-transform: none;
    webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.navbar-default .navbar-nav>li>a.purchase:hover {
    color: #34b1c4!important;
    background-color: #fff;
    border: 1px solid #fff
}

#navbar-collapse-02 .current a.purchase {
    color: #707070!important;
    background-color: #34b1c4!important;
    border: 1px solid #34b1c4!important
}

#loader {
    background: #34b1c4;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 90000;
    left: 0;
    top: 0
}

.sk-three-bounce {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    text-align: center
}

.sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}

.img {
    float: left;
    font-size: 30px;
    color: #34b1c4;
    width: 16%
}




h4.hd {
    font-size: 18px;
    text-transform: uppercase;
    color: #666
}

.navbar-default .navbar-brand {
    margin-top: 5px;
    margin-right: 0 !important;
}
.MarginLeft0{margin-left: 0 !important}

.wrapper {
    width: 100%
}

.marginB10 {
    margin-bottom: 10px
}

div.wpcf7-response-output {
    display: inline-block!important;
    color: #fff
}



.home-wrapper-mobile {
    text-align: center;
    padding-top: 30px;
    background: url(../images/slider2.jpg) center bottom/cover no-repeat
}

.home-wrapper-mobile h1 {
    font-size: 26px;
    line-height: 36px
}

.section-dark-mobile {
    padding: 30px 0 0
}

.footer-mobile {
    padding: 20px 0
}

.marginB20 {
    margin-bottom: 20px
}

div.wpcf7-response-output {
    margin: 0
}

select.contact-input {
    background-color: transparent;
    border: 1px solid #757575;
    border-radius: 5px;
    color: #aaa;
    float: left;
    font-size: 14px;
    height: 55px;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%
}

.clearfix {
    display: inline-block!important
}
.landingLink h4{font-size:24px;margin-bottom:20px;}
.landingLink .borderB{border-bottom:1px solid #666;margin:20px 0;}
.landingLink{margin:0;padding:0;text-align:center;}
.landingLink ul li{list-style:none;display:inline-block;border-right:1px solid #666;line-height:18px;}
.landingLink li a{font-weight:normal;font-size:16px;padding:0 15px;color:#666;margin:0;}
.landingLink li:last-child{border-right:0px;}

@-webkit-keyframes sk-three-bounce {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-three-bounce {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media handheld,
only screen and (max-width:800px) {
    img.author-pic,
    p.author-name {
        float: none;
        margin: 0
    }
    .newsletter_box,
    .testimonials-wrapper {
        text-align: center
    }
    .team-item {
        margin-bottom: 30px
    }
    .fun_fact_item {
        line-height: 48px
    }
    .story-block {
        width: 100%
    }
    .story .story-left .h-line,
    .story .story-left .story-arrow,
    .story .story-left:after,
    .story .story-right .h-line,
    .story .story-right .story-arrow,
    .story .story-right:after {
        display: none!important
    }
    .wrapper-inner {
        max-width: none;
        padding: 40px 0 80px 35px
    }
    .partners-item {
        padding: 10px 0;
        border-right: none;
        border-bottom: none
    }
    .col-md-4.small-padding-right,
    .col-md-6.small-padding-right {
        padding-right: 15px!important
    }
    .testimonials-info {
        border-right: none;
        padding: 0
    }
    p.author-name {
        padding-top: 20px;
        padding-bottom: 10px
    }
    p.testimonials-text {
        float: none;
        padding: 10px 0 0;
        font-size: 18px;
        line-height: 28px
    }
    .newsletter_info {
        padding: 0;
        border-left: none
    }
    .newsletter_info h2 {
        font-size: 26px
    }
    .newsletter_info p {
        font-size: 18px;
        line-height: 28px
    }
    #newsletter-form #email_newsletter {
        width: 90%;
        margin-bottom: 10px
    }
    #newsletter-form #submit-button-newsletter {
        width: 140px;
        height: 56px;
        margin: 0
    }
}


.shopify-heading{color: #fff; font-size: 60px;font-family: Montserrat;font-weight: normal !important; font-style: italic;}
.shopify-content{color: #fff; font-size: 20px;}
.Get-BTN{background: url(../images/Get-BTN.png); width: 292px;height: 69px;margin: auto;color: #fff;font-size: 18px;padding: 21px;display: block; margin-top: 50px;}
.Get-BTN:hover{color: #fff;}
.title-green{font-size:32px; color: #85B839;font-family: Montserrat;font-weight: normal !important;}
.Get-BTN-2{background: url(../images/Get-BTN-2.png); text-align: center;width: 230px;height: 69px;color: #fff;font-size: 18px;padding: 21px;display: block; margin-top: 25px; font-family: 'Open Sans';}
.Get-BTN-2:hover{color: #fff;}
.shopify-para{color:#696969; font-size:18px;font-family: Open Sans;font-weight: 100;}
.shoify-tab{background: #EFEFEF !important; margin-bottom: 35px!important;padding: 25px !important; color: #383838!important; display: block!important; font-size: 20px!important; border: none !important; border-radius:0 !important;}
.nav-tabs > li{float: none !important; }
.nav-tabs{border-bottom: none !important;}
.addtocart{background: url(../images/cart-icon.png); width: 32px; height: 29px;display: block;float: left;margin-right: 30px;}
#services ul li.active a .addtocart, #services ul li a:hover .addtocart{background: url(../images/cart-icon-white.png); }
#services ul li.active a, #services ul li a:hover{background: #85B839 !important;color: #fff !important;}
.develop{background: url(../images/develo-icon.png); width: 33px; height: 30px;display: block;float: left;margin-right: 30px;}
#services ul li.active a .develop, #services ul li a:hover .develop{background: url(../images/develo-white-icon.png); }
.theme{background: url(../images/theme-icon.png); width: 33px; height: 33px;display: block;float: left;margin-right: 30px;}
#services ul li.active a .theme, #services ul li a:hover .theme{background: url(../images/theme-icon-white.png); }
.app{background: url(../images/app-icon.png); width: 24px; height: 32px;display: block;float: left;margin-right: 30px;}
#services ul li.active a .app, #services ul li a:hover .app{background: url(../images/app-icon-white.png); }
.shopify-eCommerce{background: #EFEFEF; padding: 34px; min-height: 420px;}
.eCommerce-heading{margin: 0;font-size: 30px;font-weight: normal;}
.shopify-eCommerce p{font-size: 18px;color: #696969;font-weight: 300;font-family:'Open Sans', sans-serif;line-height: 24px; margin-top: 30px;}
.Blue-Bar{background: url(../images/blue-bar.png) top center; width: 100%; padding: 40px;}
.Blue-Bar h3{font-size: 42px; color: #fff; font-family: Montserrat; font-weight: normal;}
.servies-centent{padding: 100px 0 100px 0;}
.servies-centent h3 {font-family: Montserrat; font-size: 26px; color: #2E3343;font-weight: 300;}
.servies-centent p{font-size: 18px;color: #696969;font-weight: 300;font-family: 'Open Sans', sans-serif;}
.grey-bar{background: #F5F5F5;padding:35px 0 55px; width: 100%;}
.grey-bar h3{font-size: 42px; color: #85B839;font-family: Montserrat; font-weight: normal;}
.shopify-store{padding:0px 0 100px 0;}
.number-line{margin-top: -85px;}
.shopify-store h4{font-size: 24px; color: #2E3343;font-family: Montserrat; font-weight: normal;margin: 5px 0px;}
.shopify-store span img{padding: 55px 0 120px 0;}
.section-form-bg{background: url(../images/form-bg.jpg) center top; width: 100%; height: 726px; padding: 70px; font-size: 18px;font-family: 'Open Sans', sans-serif;}
.section-form-bg h3{font-size:42px; color: #fff;text-transform: uppercase;font-family: Montserrat; font-weight: normal;}
.white-text{color: #fff; }
.green-text{color: #85B839; }
.form-control,.Message{background: none !important;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0 !important;
  height: 30px;
border-top: none !important;
border-right: none !important;
border-left: none !important;
border-radius: 0 !important;
margin-bottom: 50px;
border-color: #fff;-webkit-box-shadow: none !important; color: #fff;font-size: 18px;font-weight: 100;font-family: 'Open Sans';}
.SEND-BTN{ background: url(../images/send-btn.png); width: 230px; height: 69px; text-align: center; color: #fff; text-transform: uppercase;font-family: 'Open Sans'; font-weight: normal; font-size: 18px; display: block;margin: auto;clear: both; padding: 20px;}
.SEND-BTN:hover{color: #fff;}
.wpcf7-form-control.wpcf7-text,.wpcf7-textarea{background: none !important;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 0 !important;
  height: 30px;
border-top: none !important;
border-right: none !important;
border-left: none !important;
border-radius: 0 !important;
margin-bottom: 50px;
border-color: #fff;-webkit-box-shadow: none !important; color: #fff;font-size: 18px;font-weight: 100;font-family: 'Open Sans';}
.wpcf7-form-control.wpcf7-submit{ background: url(../images/send-btn.png);border: none;width: 230px; height: 69px; text-align: center; color: #fff; text-transform: uppercase;font-family: 'Open Sans'; font-weight: normal; font-size: 18px; display: block;margin: auto;clear: both; padding: 20px;}
.wpcf7-form-control.wpcf7-submit:hover{color: #fff;}
.wpcf7-response-output.wpcf7-display-none{border: none;}
