@media screen and (min-width: 960px) and (max-width: 1280px), (min-device-width: 960px) and
(max-device-width: 1280px) and (orientation : landscape) {
	.bg-fixed{background-position: center 176px;}
}
@media screen and (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and
(max-device-width: 1024px) and (orientation : landscape) {
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
	#clients ul li{display:inline-block;margin-bottom:20px;}
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}
@media screen and (min-width: 600px) and (max-width: 960px), (min-device-width: 600px) and
(max-device-width: 960px) and (orientation : landscape) {
	
}
@media screen and (max-width: 600px), (min-device-width: 600px) and (max-device-width: 960px) and (orientation : portrait) {
	
}
@media screen and (min-width: 360px) and (max-width: 640px), (min-device-width: 360px) and
(max-device-width: 640px) and (orientation : landscape) {
	.header ul li a{padding: 12px 28px 12px 6px;}
	.navbar-nav{margin: 7.5px 0;}
	.nav{width:100%;}
	.navbar-nav{margin: 7.5px 0 !important;}
	.navbar-collapse{padding-left: 0;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color: #fff !important;margin-top: 20px;}
	#tag, #clients{font-size: 26px;padding: 15px 0;}
	#testimonials{font-size: 17px;}
	#testimonials span{font-size: 13px;}
	#banner h1{font-size:36px;}
	#banner h2{font-size: 33px;}
	#banner h2 span{right: 26px;top: 62px;font-size:16px;}
	#banner h3{font-size: 26px;}
	#banner h3 img{width:20px;top:-4px;}
	#graph h3{font-size: 34px;}
	#graph p{font-size:18px;}
	#simplemodal-container{width:90% !important;}
	#simplemodal-container {min-height:300px !important;}
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}
@media screen and (max-width: 360px), (min-device-width: 360px) and (max-device-width: 640px) and (orientation : portrait) {
	.header ul li a{padding: 12px 28px 12px 6px;}
	.navbar-nav{margin: 7.5px 0;}
	.nav{width:100%;}
	.navbar-nav{margin: 7.5px 0 !important;}
	.navbar-collapse{padding-left: 0;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color: #fff !important;margin-top: 20px;}
	#simplemodal-container{width:90% !important;}
	#simplemodal-container {min-height:400px !important;}
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}
@media screen and (min-width: 320px) and (max-width: 568px), (min-device-width: 320px) and
(max-device-width: 568px) and (orientation : landscape) {
	
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {
	
}
@media screen and (min-width: 320px) and (max-width: 480px), (min-device-width: 320px) and
(max-device-width: 480px) and (orientation : landscape) {
	#banner h1{font-size:30px;}
	#banner h2 span{right: 10px;top: 54px;font-size:14px;}
	#banner h2{font-size: 26px;}
	#banner h3{font-size: 20px;}
	#banner h3 img{width:16px;top:-2px;}
	#graph h3{font-size: 26px;}
	#graph p{font-size:16px;}
	#tag, #clients{font-size: 26px;padding: 15px 0;}
	#testimonials{font-size: 16px;}
	#testimonials span{font-size: 12px;}
	.button{font-size: 22px;padding: 10px 50px;}
	.button1{font-size: 20px;padding: 10px 24px;}
	#simplemodal-container{width:90% !important;}
	#simplemodal-container {min-height:290px !important;}
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}
@media screen and (max-width: 320px), (min-device-width: 320px) and (max-device-width: 480px) and (orientation : portrait) {
	#banner h1{font-size:28px;}
	#banner h2 span{right: 10px;top: 80px;font-size:14px;}
	#banner h2{font-size: 26px;}
	#banner h3{font-size: 20px;}
	#banner h3 img{width:16px;top:-2px;}
	#graph h3{font-size: 26px;}
	#graph p{font-size:16px;}
	#tag, #clients{font-size: 22px;}
	#testimonials{font-size: 16px;}
	#testimonials span{font-size: 12px;}
	.button{font-size: 22px;padding: 10px 50px;}
	.button1{font-size: 18px;padding: 10px 24px;}
	#simplemodal-container{width:90% !important;}
	#simplemodal-container {min-height:450px !important;}
	.bannCont{display:none;}
	.bannerImg{display:block;}
	.bg-acct {background:#F2F2F2;}
}