
body{margin: 0;font-family: 'Roboto', sans-serif;letter-spacing: 0.6px;color: #AAABAD;}
img{max-width: 100%;}
a, button {transition: all 0.2s ease;}
a:hover{text-decoration: none;}

/*-----------------Banner-------------------*/
.banner{background: #292929}
/*-----------------Menu-------------------*/
.burger-menu{position: relative;top: 62%;left: 57%;}
.hamburger-inner, .hamburger-img{cursor: pointer;}
.main-menu{position: relative;top: 20px;}
.slideMenu{position:fixed;z-index:999;height:100%;left:0;transition: all 0.3s ease-in-out 0s;display:none;transform: translateX(-100%);transition: all 0.2s ease;}
.slider .shape-wrapper .banner-image{width: 54%;left: auto;right: 0;overflow: hidden;position: absolute;top: 20px;}
#nav-slide{position: absolute;z-index: 999;}
/*.slider{padding: 230px 0;}*/
.slider{overflow: hidden;}
.carousel-item{padding: 130px 0 194px 0;}
.banner-content-mm h1{font-family:'Montserrat', sans-serif; font-weight: 500;color: #fff; margin-bottom: 20px;}
.banner-content-mm p{font-family:'Montserrat', sans-serif; font-weight: 500;color: #fff; margin-bottom: 35px;}
.btn-group-lg > .btn, .btn-lg{border-radius: 0!important;}
.banner-content-mm a{font-size: 20px; font-family:'Montserrat', sans-serif;}
.FontfamilyCormorantNormal{font-family:'Montserrat', sans-serif; font-weight: 400;}
.FontfamilyCormorantMedium{font-family:'Montserrat', sans-serif; font-weight: 500;}
.FontfamilyCormorantSemiBold{font-family:'Montserrat', sans-serif; font-weight: 600;}
.ColorBlack{color: #000;}
.ColorGrey{color: #626262;}
.BorderBlue{width: 100px; border-bottom: 2px solid #166BFF; margin: auto;}
.BorderGrey{width: 100px; border-bottom: 3px solid #D9D9D9;}
.BorderWhite{width: 65px; border-bottom: 3px solid #fff;}
.BlueBtnPadding{padding: 10px 40px;}
.marginB40{margin-bottom: 40px;}
.P-50{padding:50px 50px 56px 50px;}
.P-70{padding:70px;}
.p-tb-180{padding: 180px 0;}
.p-tb-100{padding: 100px 0;}
.p-tb-64{padding: 64px 0;}
.p-tb-64-0{padding: 64px 0 0;}
.p-tb-70-100{padding:70px 0 100px;}
.f-18{font-size: 18px;}
.f-16{font-size: 16px;}
.f-20{font-size: 20px;}
.f-22{font-size: 22px;}
.f-24{font-size: 24px;}
.f-26{font-size: 26px;}
.f-28{font-size: 28px;}
.f-30{font-size: 30px;}
.f-38{font-size: 38px;}
.f-34{font-size: 34px;}
.f-32{font-size: 32px;}
.f-50{font-size: 50px;}
.f-65{font-size: 65px;}
.Margin-0{margin: 0}
.WhyTechies{padding: 64px 0;}
.BlueBG{background: #0A64FF;}
.MarginAuto{margin: 50px auto;}
.FontBold{font-weight: bold;}
.LineHeight20{line-height: 20px;}
.LineHeight30{line-height: 30px;}
.LineHeight28{line-height: 28px;}
.client-logo{margin:8px 20px 0px 10px;}
.services-box{background: #fff; padding: 60px 30px; border-top: 4px solid #0A64FF; position: relative;border-radius: 6px; min-height: 430px; margin-bottom:50px;}
  .rounded-circle{width: 67px; height: 67px; margin: auto; padding: 20px; position: absolute;top: -31px;left: 0;right: 0; background: #fff;}
.nav-pills .nav-link{background: #F8F8F8; border-radius: 0; margin-bottom: 20px; color: #000; border-radius:0 !important;}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{border-radius:0 !important;}
.callToaction {
    min-height: 350px;
    width: 100%;
    background: url(../images/work-bg.png) center bottom/cover no-repeat;
    padding: 100px 0;
    color: #333;}
.services{background:#F8F8F8;}
.projDtl h1{font-family:'Montserrat', sans-serif; font-weight: 500; font-size: 24px; color: #000;}
.projDtl p{font-family: 'Roboto', sans-serif; font-size: 15px; color: #8B8B8B; font-weight: 100;}
.projDtl span {
    border: 1px solid #bababa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 20px;
    margin: 0 10px 5px 0;
    color: #888;
}
.lightGreyBorder {
    border-bottom: 1px solid #f5f5f5;
}
.BoderTop{border-bottom: 1px solid #EAEAEA;
border-top: 1px solid #EAEAEA;}
.nav-tabs .nav-link{border: 0; color: #919191;}
.nav-tabs{border: 0!important;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{border-bottom: 2px solid #2579fd;background-color: transparent;color: #919191; }
.projDtl h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 15px; color: #000;}
footer {
    padding: 60px 0 20px;
    background: #fff;
}

footer ul {
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px 20px;
}

footer ul li a {
    display: block;
    text-decoration: no-close-quote;
}

footer p {
    font-size: 24px;
    font-weight: 300;
}


#footerLinks {
    padding: 70px 0 0;
    font-family: 'Roboto', sans-serif;
}

#footerLinks h3 {
    font-size: 26px;
font-weight: 500;
color: #000;
font-weight: bold;
margin: 15px 0;
}

#footerLinks ul {
    margin: 0;
    padding: 0;
}

#footerLinks ul li {
    list-style: none;
}

#footerLinks ul li a {
    color: #636363;
    display: inline-block;
    font-size: 18px;
    padding: 2px 0;
}

footer p {
    font-size: 24px;
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    color:#000;
}
footer a {
    font-size: 20px;
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    color: #23527c;
}
.gallery-nav .jcarousel-control-prev, .gallery-nav .jcarousel-control-next{top: 18px;}
.navbar #navbarNav ul > li a{color: #fff;padding: 0 18px 18px 18px;font-family:'Montserrat', sans-serif; font-weight: 500;text-transform: uppercase; font-size: 15px;display:block;}
.navbar #navbarNav ul > li a:hover{text-decoration:none;}

.navbar .mega-dropdown {position: static;}
.navbar .mega-dropdown .dropdown-menu.mega-menu {width: 100%;border: 0;border-radius: 0;padding-left: 30px !important;padding-right: 30px !important;}
.navbar-expand-lg .navbar-nav .dropdown-menu {position: absolute;}
.navbar-expand-lg .navbar-nav .dropdown-menu ul{padding: 0;}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li{list-style: none;text-align: left;}
.navbar-expand-lg .navbar-nav .dropdown-menu ul li > a{ color: #454648!important;padding: 3px 0 !important; font-family:'Montserrat', sans-serif;display: block; font-weight: normal;font-size: 16px;}
.navbar-expand-lg .navbar-nav .dropdown-menu h4{font-size: 18px;font-weight: bold;}
.mega-dropdown > a::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.navbar-dark .navbar-toggler{color: #fff;border-color: #fff;}
.dropdown:hover>.dropdown-menu {display: block;}
.dropdown>.dropdown-toggle:active {pointer-events: none;}
.copyrights ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.copyrights ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px 20px;
}
